import java.time.LocalDateTime

params {
    db = ""
    update = true
    mamba = false
    workDir = "./nextflow_workdir"
    length = 100
}

workDir = params.workDir

report {
    enabled = true
    file = "${params.db}/report_" + String.format('%tF_%<tH:%<tM', LocalDateTime.now()) + ".html"
}

profiles {
    standard {
        params.threads = Runtime.runtime.availableProcessors()
        params.forks = params.threads - 1
        params.executor = 'local'
        process.executor = 'local'
        process.cpus = 1
        process.memory = '512 MB'
        process.maxForks = params.forks
        conda.enabled = true
        process.conda = "$baseDir/envs/db-processing.yml"
        if (params.mamba != false) {
            conda.useMamba = true
        }
    }
}
