import java.time.LocalDateTime

params {
    input = ""
    db = ""
    mamba = false
    workDir = "./nextflow_workdir"
}

workDir = params.workDir

report {
    enabled = true
    file = "${params.db}/report_" + String.format('%tF_%<tH:%<tM', LocalDateTime.now()) + ".html"
}

profiles {
    standard {
        params.threads = Runtime.runtime.availableProcessors()
        params.forks = params.threads - 1
        params.executor = 'local'
        process.executor = 'local'
        process.cpus = 1
        process.memory = { 512.MB * task.attempt * Math.pow(2, task.attempt) }
        process.maxForks = params.forks
        conda.enabled = true
        process.conda = "$baseDir/envs/db-processing.yml"
        if (params.mamba != false) {
            conda.useMamba = true
        }
    }
    slurm {
        params.threads = 32
        params.maxThreads = 64
        params.forks = 1024  // 64
        params.queueSize = params.forks
        params.pollInterval = '3sec'
        params.submitRateLimit = '32sec'  // x job submissions per second
        params.queue = "bcf"
        params.executor = 'slurm'
        process.executor = 'slurm'
        process.queue = params.queue
        process.cpus = 1
        process.memory = { 512.MB * task.attempt * Math.pow(2, task.attempt) }
        process.maxForks = params.forks - 1
        executor.queueSize = params.queueSize
        executor.pollInterval = params.pollInterval
        executor.submitRateLimit = params.submitRateLimit
        conda.enabled = true
        process.conda = "$baseDir/envs/db-clustering.yml"
        process.errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return 'retry' }
        process.maxRetries = 1
        if (params.mamba != false) {
            conda.useMamba = true
        }
    }
}
